# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# Environment Variables
.env
.env.*

# FastAPI Uploads (nếu không muốn commit file upload)
# .gitignore
backend/storage/*
!backend/storage/.gitkeep